<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

#set( $static_resource = "$request.contextPath/resources" )
<head>

	<meta charset="utf-8" />

	<title>Metronic | Login Page</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="$static_resource/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="$static_resource/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="$static_resource/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="$static_resource/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="$static_resource/media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="$static_resource/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="$static_resource/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="$static_resource/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	
