<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.dao.RoleSysMapper">
  <resultMap id="BaseResultMap" type="com.rabbit.model.RoleSys">
    <id column="ID_" jdbcType="DECIMAL" property="id" />
    <result column="NAME_" jdbcType="VARCHAR" property="name" />
    <result column="DESC_" jdbcType="VARCHAR" property="desc" />
    <result column="CODE_" jdbcType="VARCHAR" property="code" />
    <result column="CATEGORY_" jdbcType="DECIMAL" property="category" />
    <result column="STATUS_" jdbcType="DECIMAL" property="status" />
    <result column="APPEND_BY" jdbcType="DECIMAL" property="appendBy" />
    <result column="APPEND_TIME" jdbcType="TIMESTAMP" property="appendTime" />
    <result column="MODIFY_BY" jdbcType="DECIMAL" property="modifyBy" />
    <result column="MODIFIED_TIME" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="REMARK_" jdbcType="VARCHAR" property="remark" />
    <association property="roleAuths" column="roleCode=CODE_" select="com.rabbit.dao.RoleAuthMapper.selectRoleId"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID_, NAME_, DESC_, CODE_, CATEGORY_, STATUS_, APPEND_BY, APPEND_TIME, MODIFY_BY, 
    MODIFIED_TIME, REMARK_
  </sql>
  <select id="selectByExample" parameterType="com.rabbit.model.RoleSysExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BASE.ROLE_SYS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BASE.ROLE_SYS
    where ID_ = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from BASE.ROLE_SYS
    where ID_ = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.rabbit.model.RoleSysExample">
    delete from BASE.ROLE_SYS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="ID_" parameterType="com.rabbit.model.RoleSys">
    insert into BASE.ROLE_SYS (NAME_, DESC_, 
      CODE_, CATEGORY_, STATUS_, 
      APPEND_BY, APPEND_TIME, MODIFY_BY, 
      MODIFIED_TIME, REMARK_)
    values (#{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{category,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{appendBy,jdbcType=DECIMAL}, #{appendTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=DECIMAL}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
    
  </insert>
  <insert id="insertSelective" parameterType="com.rabbit.model.RoleSys">
    insert into BASE.ROLE_SYS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="name != null">
        NAME_,
      </if>
      <if test="desc != null">
        DESC_,
      </if>
      <if test="code != null">
        CODE_,
      </if>
      <if test="category != null">
        CATEGORY_,
      </if>
      <if test="status != null">
        STATUS_,
      </if>
      <if test="appendBy != null">
        APPEND_BY,
      </if>
      <if test="appendTime != null">
        APPEND_TIME,
      </if>
      <if test="modifyBy != null">
        MODIFY_BY,
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME,
      </if>
      <if test="remark != null">
        REMARK_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="appendBy != null">
        #{appendBy,jdbcType=DECIMAL},
      </if>
      <if test="appendTime != null">
        #{appendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=DECIMAL},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rabbit.model.RoleSysExample" resultType="java.lang.Long">
    select count(*) from BASE.ROLE_SYS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update BASE.ROLE_SYS
    <set>
      <if test="record.id != null">
        ID_ = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null">
        NAME_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        DESC_ = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        CODE_ = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        CATEGORY_ = #{record.category,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        STATUS_ = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.appendBy != null">
        APPEND_BY = #{record.appendBy,jdbcType=DECIMAL},
      </if>
      <if test="record.appendTime != null">
        APPEND_TIME = #{record.appendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyBy != null">
        MODIFY_BY = #{record.modifyBy,jdbcType=DECIMAL},
      </if>
      <if test="record.modifiedTime != null">
        MODIFIED_TIME = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK_ = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update BASE.ROLE_SYS
    set ID_ = #{record.id,jdbcType=DECIMAL},
      NAME_ = #{record.name,jdbcType=VARCHAR},
      DESC_ = #{record.desc,jdbcType=VARCHAR},
      CODE_ = #{record.code,jdbcType=VARCHAR},
      CATEGORY_ = #{record.category,jdbcType=DECIMAL},
      STATUS_ = #{record.status,jdbcType=DECIMAL},
      APPEND_BY = #{record.appendBy,jdbcType=DECIMAL},
      APPEND_TIME = #{record.appendTime,jdbcType=TIMESTAMP},
      MODIFY_BY = #{record.modifyBy,jdbcType=DECIMAL},
      MODIFIED_TIME = #{record.modifiedTime,jdbcType=TIMESTAMP},
      REMARK_ = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rabbit.model.RoleSys">
    update BASE.ROLE_SYS
    <set>
      <if test="name != null">
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        DESC_ = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE_ = #{code,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY_ = #{category,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS_ = #{status,jdbcType=DECIMAL},
      </if>
      <if test="appendBy != null">
        APPEND_BY = #{appendBy,jdbcType=DECIMAL},
      </if>
      <if test="appendTime != null">
        APPEND_TIME = #{appendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        MODIFY_BY = #{modifyBy,jdbcType=DECIMAL},
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK_ = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rabbit.model.RoleSys">
    update BASE.ROLE_SYS
    set NAME_ = #{name,jdbcType=VARCHAR},
      DESC_ = #{desc,jdbcType=VARCHAR},
      CODE_ = #{code,jdbcType=VARCHAR},
      CATEGORY_ = #{category,jdbcType=DECIMAL},
      STATUS_ = #{status,jdbcType=DECIMAL},
      APPEND_BY = #{appendBy,jdbcType=DECIMAL},
      APPEND_TIME = #{appendTime,jdbcType=TIMESTAMP},
      MODIFY_BY = #{modifyBy,jdbcType=DECIMAL},
      MODIFIED_TIME = #{modifiedTime,jdbcType=TIMESTAMP},
      REMARK_ = #{remark,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectOnPage" resultMap="BaseResultMap">
    <!-- page --> 
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BASE.ROLE_SYS
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      ORDER BY ${example.orderByClause}
    </if>
    
    LIMIT #{skipResults} ,#{maxResults} 
  
  </select>
  
  <select id="selectByRoleCode" resultMap="BaseResultMap">            
	   	SELECT 
	   	 <include refid="Base_Column_List" />
	   	FROM  BASE.ROLE_SYS  WHERE CODE_=#{code,jdbcType=VARCHAR}
  </select>
  
</mapper>