<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rabbit.dao.SysSettingMapper" >
  <resultMap id="BaseResultMap" type="com.rabbit.model.SysSetting" >
    <id column="ID_" property="id" jdbcType="VARCHAR" />
    <result column="KEY_" property="key" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE" property="attribute" jdbcType="VARCHAR" />
    <result column="CATEGORY_" property="category" jdbcType="VARCHAR" />
    <result column="SQRT_" property="sqrt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_, KEY_, ATTRIBUTE, CATEGORY_, SQRT_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rabbit.model.SysSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BASE.SYS_SETTING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from BASE.SYS_SETTING
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from BASE.SYS_SETTING
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rabbit.model.SysSettingExample" >
    delete from BASE.SYS_SETTING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rabbit.model.SysSetting" >
   	<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
    </selectKey>
    insert into BASE.SYS_SETTING (KEY_, ATTRIBUTE, 
      CATEGORY_, SQRT_)
    values (#{key,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{sqrt,jdbcType=DECIMAL})
   
  </insert>
  <insert id="insertSelective" parameterType="com.rabbit.model.SysSetting" >
    insert into BASE.SYS_SETTING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="key != null" >
        KEY_,
      </if>
      <if test="attribute != null" >
        ATTRIBUTE,
      </if>
      <if test="category != null" >
        CATEGORY_,
      </if>
      <if test="sqrt != null" >
        SQRT_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="sqrt != null" >
        #{sqrt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rabbit.model.SysSettingExample" resultType="java.lang.Long" >
    select count(*) from BASE.SYS_SETTING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BASE.SYS_SETTING
    <set >
      <if test="record.id != null" >
        ID_ = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.key != null" >
        KEY_ = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute != null" >
        ATTRIBUTE = #{record.attribute,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        CATEGORY_ = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.sqrt != null" >
        SQRT_ = #{record.sqrt,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BASE.SYS_SETTING
    set ID_ = #{record.id,jdbcType=VARCHAR},
      KEY_ = #{record.key,jdbcType=VARCHAR},
      ATTRIBUTE = #{record.attribute,jdbcType=VARCHAR},
      CATEGORY_ = #{record.category,jdbcType=VARCHAR},
      SQRT_ = #{record.sqrt,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rabbit.model.SysSetting" >
    update BASE.SYS_SETTING
    <set >
      <if test="key != null" >
        KEY_ = #{key,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        ATTRIBUTE = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        CATEGORY_ = #{category,jdbcType=VARCHAR},
      </if>
      <if test="sqrt != null" >
        SQRT_ = #{sqrt,jdbcType=DECIMAL},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rabbit.model.SysSetting" >
    update BASE.SYS_SETTING
    set KEY_ = #{key,jdbcType=VARCHAR},
      ATTRIBUTE = #{attribute,jdbcType=VARCHAR},
      CATEGORY_ = #{category,jdbcType=VARCHAR},
      SQRT_ = #{sqrt,jdbcType=DECIMAL}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectOnPage" resultMap="BaseResultMap" >
    <!-- page --> 
   SELECT * FROM (
   SELECT PAGE.*, ROWNUM AS RN FROM (
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BASE.SYS_SETTING
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      ORDER BY ${example.orderByClause}
    </if>
     )  PAGE WHERE ROWNUM &lt;=  #{maxResults}  
 )   WHERE RN &gt;#{skipResults}
  </select>
</mapper>